{% extends 'layout.html' %}
{% load static %}

{% block content %}
<body class="dark-theme">
    <header>
        <h1>Welcome to the Party, {{ user_details.name }}!</h1>
    </header>
    <section class="invitation-section">
        <h2>{{ party_title }}</h2>
        <div class="animation">
            <img class="animated-element animated-balloon" src="{% static 'images/balloon.png' %}" alt="Animated Balloon">
        </div>
        <p>{{ party_message }}</p>
        <p>Lunch will be catered as per your dietary preferences.</p>
        <p>You will be served {{ user_details.diet }} food.</p>
        {% if user_details.diseases %}
        <p>No food triggering {{ user_details.diseases }} will be served to you. Instead, other accommodations are arranged for you.</p>
        {% endif %}

        {% if user_details.allergies %}
        <p>No food will inhibit {{ user_details.allergies }} or any other allergy. Instead, other accommodations will be arranged for you.</p>
        {% endif %}
    </section>
    <section class="invitation-section">
        <h2>Details</h2>
        <p>Date: {{ party_date }}</p>
        <p>Time: {{ party_time }} {{ timezone }}</p>
        <p>Location: {{ party_location }}</p>
        <div class="animation">
            <img class="animated-element animated-confetti" src="{% static 'images/confetti.png' %}" alt="Animated Confetti">
        </div>
    </section>

    <section class="invitation-section">
        <h2>Food Menu</h2>
        <p>{{ main_course }}</p>
        <p>{{ optional_items }}</p>
        <div class="animation">
            <img class="animated-element animated-star" src="{% static 'images/star.png' %}" alt="Animated Star">
        </div>
    </section>
    

    {% if gift %}
    <section class="invitation-section">
        <h2>Gift for You</h2>
        <p>{{ gift_message }}</p>
        <div class="animation">
            <img class="animated-element animated-gift" src="{% static 'images/gift.png' %}" alt="Animated Gift">
        </div>
    </section>
    {% endif %}
</body>
{% endblock %}
