<!-- invitation.html -->
{% extends 'layout.html' %}
{% load static %}

{% block content %}
<body class="dark-theme">
    <header>
        <h1>Welcome to the Party, {{ request.session.user_details.name }}!</h1>
    </header>
    <section class="invitation-section">
        <h2>One party Lunch Together!</h2>
        <div class="animation">
            <img class="animated-element animated-balloon" src="{% static 'images/balloon.png' %}" alt="Animated Balloon">
        </div>
        <p>Join us for an afternoon of lunch and fun.</p>
        <p>Lunch will be catered as per your dietary preferences.</p>
        <p>The food will be {{ request.session.user_details.diet }}</p>
        {% if request.session.user_details.diseases %}
        <p> No food triggering {{ request.session.user_details.diseases }} will be served to you. </p>
        {% endif %}

        {% if request.session.user_details.allergies %}
        <p>No food will inhibit {{ request.session.user_details.allergies }}.</p>
        {% endif %}
        
    </section>
    <section class="invitation-section">
        <h2>Details</h2>
        <p>Date: Wednesday, 14th February</p>
        <p>Time: 01:00 PM onwards</p>
        <p>Location: ILMS</p>
        <div class="animation">
            <img class="animated-element animated-confetti" src="{% static 'images/confetti.png' %}" alt="Animated Confetti">
        </div>
    </section>

    <section class="invitation-section">
        <h2>Gift for You</h2>
        <p>As a token of appreciation, every guest will receive a special return gift. It’s a surprise we hope you'll love!</p>
        <div class="animation">
            <img class="animated-element animated-gift" src="{% static 'images/gift.png' %}" alt="Animated Gift">
        </div>
    </section>
</body>
{% endblock %}
